* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.mgl-5 {
    margin-left: 5%;
}

.nor-text {
    text-transform: none;
}


/* .mau-chu-dao{
    color: #2b80dd;
} */

@keyframes slideFromBottom {
    from {
        transform: translateY(20%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(10%);
        opacity: 0;
    }
}

.container-p-0 {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: auto;
    /* border: 1px solid none; */
    background-color: #f5f5f5;
}

/* header 1 */

.menu {
    width: 1200px !important;
    max-width: 1200px !important;
    padding: 0px 20px 0px 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* logo */

.menu .logo {
    width: 10%;
    height: 100%;
    border: 1px solid none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .logo img {
    width: 100%;
    height: auto;
    margin: 7px 0px;
}


/* tìm kiếm */

.tim-kiem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    border: 1px solid none;
}

.tim {
    width: 100%;
    height: 35px;
    border: 1px solid none;
    display: flex;
}

.tim input {
    width: 90%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 1px solid #2b80dd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0 10px;
}

.tim button {
    width: 10%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 1px solid #2b80dd;
    background-color: #2b80dd;
}

.tim button:hover {
    cursor: pointer;
}

.tim button i {
    color: white;
}


/* đăng ký đăng nhập */

.tai-khoan {
    width: 15%;
    height: 100%;
    border: 1px solid none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}

.tai-khoan p {
    margin: 0px 10px;
    color: rgb(159, 159, 159);
}

.tai-khoan a {
    color: black;
    text-decoration: none;
}

.tai-khoan a:hover {
    color: #2b80dd;
}

.tai-khoan button {
    color: black;
    text-decoration: none;
    border: none;
    background-color: #f5f5f5;
}

.tai-khoan button:hover {
    color: #2b80dd;
}

/* lớp phủ đen mờ */

.lop-phu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: 1px solid none;
}

/* khung form, form đăng kí, đăng nhập */

.lop-phu .form-dk-dn{
    position: relative;
    background: #fff;
    width: 40%;
    height: auto;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    border: 1px solid none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.form-dk-dn form#dangki{
    display: none;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

.form-dk-dn form#dangnhap{
    display: none;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;   
}

.form-dk-dn form h1{
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
}

.o-input{
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.o-input input{
    width: 100%;
    height: 40px;
    font-size: 21px;
    border: none;
    outline: none;
    border-bottom: 3px solid #adadad;
}

.o-input span{
    position: absolute;
    width: 0%;
    border-bottom: 3px solid #2691d9;
    top: 37px;
    left: 0;
    transition: 0.3s;
}

.o-input input:focus ~ span{
    width: 100%;
}

.form-dk-dn form button{
    width: 100%;
    height: 60px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #2691d9;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 35px 0px;
}

.form-dk-dn form button:hover{
    background-color: #2383c4;
}

.link-dk-dn{
    text-align: center;
    font-size: 1.4vw;
}

.link-dk-dn a{
    text-decoration: none;
}

.link-dk-dn a:hover{
    text-decoration: underline;
}

.form-dk-dn button#closeForm{
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #e74c3c;
    padding: 8px 20px;
    color: white;
}

.form-dk-dn button#closeForm:hover{
    background-color: #ca4435;
    color: white;
}

/* giỏ hàng */

.gio-hang {
    position: relative!important;
    width: 7%;
    height: 100%;
    border: 1px solid none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gio-hang i {
    font-size: 20px;
    color: red;
    padding: 0px;
    margin: 0px;
}

.gio-hang a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.gio-hang span {
    position: absolute;
    right: 16px;
    top: -7px;
    background: #2b80dd;
    color: #fff;
    padding: 1px 4px 2px 4px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 14px;
    border-radius: 9999px;
}

.gio-hang a:hover {
    color: #2b80dd;
}


/* header 2 */


/* menu ngang */

.menu-con {
    background-color: #2b80dd;
    height: 37px;
    line-height: 35px;
}

.menu-con ul {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 1.1vw; */
    color: white;
    width: 1200px !important;
    max-width: 1200px !important;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-con ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    border: 1px solid none;
}

.menu-con ul li.m-c {
    position: relative;
}

.menu-con ul li i {
    /* font-size: 1.2vw; */
    margin: 8px;
}

.menu-con ul li a.capslock {
    text-decoration: none;
    color: white;
    padding-top: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.menu-con ul li:hover {
    background-color: #2163a9;
}


/* menu dọc */

.menu-con ul li.m-c .danh-muc {
    position: absolute;
    border: 1px solid none;
    top: 37px;
    left: 0px;
    width: 400%;
    height: auto;
    padding: 10px;
    background-color: white;
    opacity: 0;
    /* animation: fadeIn 0.6s; */
    /* Sử dụng animation để làm cho opacity từ từ hiện ra */
    animation-fill-mode: forwards;
    /* Giữ opacity ở 1 sau khi kết thúc animation */
    transform: translateY(-1000%);
    box-shadow: 0 0 25px 0 #969696;
}

.danh-muc .khung-danh-muc {
    width: 100%;
    height: auto;
    border: 1px solid none;
    display: flex;
    flex-wrap: wrap;
}

.khung-danh-muc .danh-sach-danh-muc {
    width: 50%;
    height: auto;
    padding: 0px;
    margin-bottom: 15px;
}

.danh-sach-danh-muc .loai-danh-muc {
    width: 100%;
    height: auto;
}

.loai-danh-muc .tieu-de-danh-muc {
    width: 35%;
    height: auto;
    border: 1px solid none;
    background-color: #2b80dd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4vw;
    font-weight: bold;
    padding: 5px 25px 5px 10px;
    border-radius: 0px 0px 10px 0px;
    margin-bottom: 7px;
}

.tieu-de-danh-muc a {
    text-decoration: none;
    color: white;
}

.loai-danh-muc .san-pham-danh-muc {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid none;
}

.san-pham-danh-muc .san-pham-danh-muc2 {
    width: 50%;
    height: auto;
    text-align: left;
    border: 1px solid none;
    margin: 5px 0px;
}

.san-pham-danh-muc2 a {
    border: 1px solid none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin-left: 10px;
    font-weight: normal;
}

.san-pham-danh-muc2 a:hover {
    color: #2b80dd;
}

.menu-con ul li.m-c:hover .danh-muc {
    display: block;
    z-index: 1;
    opacity: 1;
    animation: fadeIn 0.4s;
    transform: translateY(0);
    height: auto;
}

.menu-con ul li.m-c:not(:hover) .danh-muc {
    animation: fadeOut 0.4s;
    opacity: 0;
    z-index: 1;
}


/* banner */

.banner {
    width: 1200px !important;
    max-width: 1200px !important;
    margin: 10px auto;
    display: flex;
    height: 413px;
}

.banner .anh1 {
    width: 230%;
    height: 100%;
    border: 1px solid none;
    overflow: hidden;
    /* Ẩn phần dư thừa nếu hình ảnh vượt quá kích thước của container */
    position: relative;
    margin-right: 2.4px;
}

.banner .anh1 a {
    width: 100%;
    height: 100%;
    border: 1px solid none;
}

.banner .anh1 a img {
    width: 100%;
    height: 100%;
    border: 1px solid none;
}

#anh-tu-dong {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    /* Đảm bảo hình ảnh lấp đầy container */
    height: 100%;
    /* Đảm bảo hình ảnh lấp đầy container */
    transition: transform 0.5s ease;
    /* Sử dụng transition cho hiệu ứng chuyển đổi */
}

#anh-tu-dong-link {
    display: block;
    width: 100%;
    height: 100%;
}

.banner .anh2 {
    display: grid;
    grid-template-rows: 49.5% 49.5%;
    grid-gap: 1%;
    width: 100%;
    height: 100%;
}

.banner .anh2 .img1 {
    width: 100%;
    height: 100%;
}

.banner .anh2 .img1 a {
    width: 100%;
    height: 100%;
}

.banner .anh2 .img1 a img {
    width: 100%;
    height: 100%;
}

.banner .anh2 .img2 {
    width: 100%;
    height: 100%;
}

.banner .anh2 .img2 a {
    width: 100%;
    height: 100%;
}

.banner .anh2 .img2 a img {
    width: 100%;
    height: 100%;
}


/* start article */

article {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.header {
    width: 1200px !important;
    max-width: 1200px !important;
    margin: auto;
    display: flex;
    flex-wrap: wrap!important;
    background-color: #fff;
}


/* MENU THƯƠNG HIỆU */

.header .menu_article {
    cursor: pointer;
    padding: 1rem;
    display: inline-block;
}

.header .menu_article i {
    vertical-align: 1.8px;
}

.header .menu_article span {
    color: #007bff
}


/* Ẩn menu con ban đầu */

.menu_article {
    position: relative;
}

.menu_sanpham {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    padding: 10px 10px;
    width: 200px;
    -webkit-box-shadow: 0 0 5px 0 #969696;
    box-shadow: 0 0 5px 0 #969696;
    left: 0;
    top: 80%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
}

.menu_article:hover .menu_sanpham {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.menu_sanpham li {
    list-style: none;
    margin: 5px 0;
}

.menu_sanpham a {
    color: #000;
    text-decoration: none;
}

.menu_article:hover .menu_sanpham li {
    opacity: 1;
}

.menu_sanpham a:hover {
    color: #ff9300;
}


/* Sắp xếp */

.sapxep {
    width: 1200px !important;
    max-width: 1200px !important;
    padding: 10px 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap!important;
}


/* main */

.main {
    width: 1200px !important;
    max-width: 1200px !important;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap!important;
}

.sanpham {
    padding: 5px;
    width: 300px;
    border: 5px solid #f5f5f5;
    text-align: center;
    background-color: #fff;
}

.sanpham:hover .img img {
    transform: scale(0.9);
    transition: transform 0.3s;
}

.main .img img {
    transition: transform 0.3s;
    margin: 0.5rem;
    overflow: hidden;
    width: 80%;
}

.main .namesp {
    margin: 0.5rem;
}

.namesp a {
    text-decoration: none;
    color: black;
}

.sanpham:hover .namesp a {
    color: #2b80dd;
}

.main .price {
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem;
}

/* trang tin tức */
/* tintuc phai */

.khung{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
}

.khung-con{
    width: 80%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 1px solid none;
    background-color: #f5f5f5;
    /* padding-top: 15px; */
    overflow: hidden;
}

.left{
    float:left;
    background-color: white;
    width: 65%;
    height: auto;
}

.left .anh img{
    width: 100%;
    height: auto;
}

.left .baiviet{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}

.left .baiviet a{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

.left .khung-bv{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 40% 59%;
    grid-template-rows: 1fr;
    grid-gap: 0.25%;
    margin-top: 5px;
    border: 1px solid none;
}

.left .baiviet-1 .anh1 img{
    width: 90%;
    height: 100%;
    border: 1px solid none;
}

.left .nd{
    grid-template-rows: 1fr;
}

.left .nd1{
    font-size: 25px;
    font-weight: 500;
}

.left .nd1 a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.left .nd2{
    text-decoration: none;
    margin-top: 5px;
}

.left .time{
    margin-top: 10px;
    color: #9f9f9f;
    font-size: 13px;
}

/* tin tuc trai */

.right{
    float:right;
    background-color: white;
    width: 33%;
    height: 2000px;
}

.right .khung-tinnb{
    margin-bottom: 25px;
}

.right .tin{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #2b80dd;
    border-left: 6px solid #2b80dd;
    margin-bottom: 20px;
    margin: 5px;
    padding-left: 21px;
}

.right .menu-tin{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right .menu-tin ul{
    padding-left: 22px;
}

.right .menu-tin li{
    margin-bottom: 15px;
}

.right .menu-tin a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* khuyenmai */

.right .khuyenmai{
    margin-bottom: 50px;
}

.right .conten{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.right .conten .first{
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}

.right .conten .first .item{
    width: 100%;
    max-width: 100%;
}

.right .conten .first .item-img{
    margin-bottom: 10px;
}

.right .conten .first .item-img img{
    position: relative;
    width: 100%;
    display: inline;
}

.right .conten .first .item-tittle{
    margin: 5px;
    margin-top: -380px;
}

.right .conten .first .item-tittle a{
    font-size: 15px;
    font-weight: bold;
    color: #222;
    text-decoration: none;
}

.right .conten .item{
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.right .conten .item-img a{
    width: 100%;
    display: block;
    position: relative;
    padding-bottom: 100%;
}

.right .conten .item-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.right .conten .item-tittle{
    margin-bottom: 20px;
}

.right .conten .item-tittle a{
    /* font-size: 15px;
    font-weight: bold; */
    color: #222;
    text-decoration: none;
}

.right .conten .item-tittle a:hover{
    color: blue;
}